.App-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerButton {
  width: 100vw;
}

button {
  margin: 20px;
  padding: 10px;
  width: 80px;
  background-color: yellow;
  border-radius: 5px;
  font-weight: bolder;
}

button:hover {
  background-color: rgb(250, 250, 145);
  cursor: pointer;
}

.character {
  border: 2px solid yellow;
  background-color: rgb(75, 86, 109);
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  height: 300px;
  width: 200px;
}

.character:hover {
  background-color: indianred;
}

h1 {
  font-size: 20px;
  max-width: 100px;
  height: 80px;
  margin: auto auto;
}

h2 {
  max-width: 200px;
  margin: 10px;
}

img {
  width: 150px;
}
